.Nav-Route-List {
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
  list-style: none;
  cursor: pointer;
}

.Nav-Route-List li a {
  transition: all 0.3s ease 0s;
}

.Nav-Route-List li a:hover {
  color: #933709
}
