.submit-item-btn {
  background-color: #676767 ;
  border: 2px solid;
  color: inherit;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.logout-btn {
  padding: 10px 10px;
  font-size: 16px;
}
